<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../reset.css" />
    <link rel="stylesheet" href="../main.css" />
    <title>Card preview</title>
  </head>
  <body>
    <section class="preview">
      <div>
        <div class="preview--card <%=palette%>">
          <div class="preview--card__info">
            <div class="preview--edge"></div>
            <div class="info">
              <h2 class="name"><%= name %></h2>
              <h3 class="proffesion"><%= job %></h3>
            </div>
          </div>
          <div
            class="image-preview profile__image"
            style="background-image: url(<%=photo%>)"
          ></div>
          <div class="icons">
            <a
              rel="noreferrer"
              href="tel:<%= phone %> "
              target="_blank"
              class="icons--border"
              id="tel"
              ><i class="fas fa-mobile-alt"></i></a
            ><a
              rel="noreferrer"
              href="mailto: <%= email %> "
              target="_blanck"
              class="icons--border"
              id="email"
              ><i class="far fa-envelope"></i></a
            ><a
              rel="noreferrer"
              href="<%= linkedin %>"
              target="_blank"
              class="icons--border"
              id="linkedin"
              ><i class="fab fa-linkedin-in"></i></a
            ><a
              rel="noreferrer"
              href="github"
              target="_blank"
              class="icons--border"
              id="github"
              ><i class="fab fa-github-alt"></i
            ></a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
